*{
    margin: 0;
    padding: 0;
}

.menu{
    width: 35vw;
    margin: auto;
    min-height: 2vh;
    padding: 2% 0%;
    left: 65vw;
    position: fixed;
    z-index: 5;
    box-sizing: content-box;
}
.menu_link:hover{
    background: linear-gradient(90deg, #eca5bb 12.48%, #ea9eff 47.55%, #aaa4ff 83.54%);
    background-size: 300% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

footer{
    height:fit-content;
    min-height: 25vh;
    background-color: #252524;
}