:root{
    --colorAfter : linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    --color_blanco: linear-gradient(90deg, #d6cdd0 12.48%, #706f6f 47.55%, #050505 83.54%);
    --color_naranja: linear-gradient(90deg, rgb(238, 184, 166) 12.48%, rgb(196, 65, 0) 47.55%, #7e2200 83.54%);
    --color_rojo: linear-gradient(90deg, rgb(235, 2, 2) 12.48%, rgb(165, 26, 79) 47.55%, rgb(167, 72, 89) 83.54%);
    --color_morado: linear-gradient(90deg, rgb(208, 2, 235) 12.48%, rgb(75, 26, 165) 47.55%, rgb(7, 18, 119) 83.54%);
}
*{
    margin: 0;
    padding: 0
}

body{
    background: linear-gradient(180deg, #100F0F 28.63%, #24293A 50%, #6B1A5A 70.83%, #3C2347 86.98%);
}
.menu{
    background-color:rgba(32, 32, 32, 0.84) ;
    height: 2vh;
}
.game_fondo{
    background: url(../images/motivo\ gm.png) no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.1);

}
.texto{
    width: fit-content;
    left: 3%;
}
.icono{
    background: url(../images/icono\ logo.png) no-repeat ;
    background-size: contain;
    background-origin: content-box;
    background-position: 0px;
}

.game_text{
    width: 55%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(90deg, #B003CA 4.57%, #75228E 45.64%, #4316A1 86.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game_section{
    height: 500vh;
}

/* -------------- transicion ----------------------------*/

.transition{
    height: 40vh;
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
    animation: change 3s infinite ease-in-out;
}
.transition_text{
    height: 90%;
    width: 98%;
    background-color: rgb(10, 10, 10);
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(90deg, #B003CA 4.57%, #75228E 45.64%, #4316A1 86.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section{
    width: 98%;
    height: 100vh;
    background-color: #000000c5;
}

.game_choise{
    height: fit-content;
    min-height: 110vh;
}
.mosaico{
    height: 85vh;
    box-sizing:border-box;
    resize: none;
}
.row_img{
    background-color: #1c1c1c;
}
.mosaico_img{
    height: 100%;
    width: 24%;
    object-fit: cover;
    align-self:flex-end;
}
.game_c_conatiner{
    height:fit-content;
    background-color: rgb(0, 0, 0);
}
.color{
    box-shadow: 0.2em 0.2em 0.6em rgb(44, 43, 43);
    height: 4em;
    flex:0 1 20%;
}

.color:hover{
    box-shadow: 0.2em 0.2em 0.6em rgba(44, 43, 43, 0.281);
    transform: scale(0.98);
    filter: brightness(0.8);
    cursor: pointer;
}

.mosaico::after , .game_c_conatiner::after{
    content: "";
    width: 104%;
    height: 104%;
    position: absolute;
    bottom: -2%;
    left: -2%;
    background-color: white;
    background: var(--colorAfter);
    background-size: 300% 500%;
    animation: change 3s infinite ease-in-out;
    z-index: -1;
}
.game_c_conatiner::after{
    width: 104%;
    height: 100%;
    bottom: 0;
    left: -2%;
    color: white;
}
.mosaico_img:hover{
    padding: 1%;
    background-color: rgb(61, 61, 61);
    transform: scale(1.1,1.1);
    filter: brightness(0.8);
}

#morado{ background-color: #9a42c0;}
#naranja{background-color: rgb(216, 103, 22);}
#rojo{background-color: red}
#blanco{background-color: white;}