
:root{
    --gris:  #59564F;
    --cafeoscuro: #5c5244  ;
    --degradado: linear-gradient(90deg, #BA2CDD 3.46%, #FF1F00 102.52%);
}

*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: #000000b5;
}
.blur_active{ 
    filter: blur(6px);
    pointer-events: none;
    user-select: none;
}

.pop_up{
    width: 50vw;
    height: 60vh;
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
    color: white;
    left: 25%;
    filter: drop-shadow(10px 10px 6px #484747d2);
    animation: trasladar 2s , change 6s infinite ;
    opacity: 0.98;

}
.pop_up_text{
    width: 97%;
    height: 95%;
    background: rgb(19, 18, 18);
}

.pop_up .gamer , .pop_up .link:hover{
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: change 6s infinite;
}

.btnclose{
    cursor: pointer;
}

.inicio{
    height: 100vh;
    overflow: hidden;
}
.logo{
    object-fit: cover;
}
.contenedor_inicio{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
}
.carousel{
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
    background: black url(../images/slide/back2.png) no-repeat;
    background-size: cover;
    animation: 20s zoom ease-in-out alternate infinite;
}
.motivo_inicio img{
    mix-blend-mode:hard-light;
    opacity: 0%;
}

.btn_inicio{
    width: 20%;
    height: 10%;
    background: var(--degradado);
    box-shadow: 5px 5px 10px rgb(87, 86, 86) ;
    border: solid 0.2em white ;
    border-radius: 1em;
    color: white;
}

.btn_inicio a{
    font-size: 80px;
}

.btn_inicio:hover{
    filter: brightness(1.1) drop-shadow(0 0 1rem rgb(197, 117, 117));
}


/* -------------------------------- parrafo  -------------------------------- */

.transicion{
    height: 20vh;
    background-color: rgb(94, 80, 72) ;
    color: white;
}

/* -------------------------------- que es -------------------------------- */
.descripcion{
    height: 98vh;
    background-color: rgb(187, 184, 181);
    color: rgb(255, 255, 255);
}
.franja{
    width: 25%;
    background-color: #3a3427
}

/* .descripcion_fondo{
    width: 70%;
    background: #837561 url(../images/motivo3.png) no-repeat  ;
    background-size: cover;
    background-blend-mode: luminosity;
    filter: brightness(0.8);
    box-shadow: 10px 10px  10px  rgba(65, 64, 64, 0.336);
}*/

.description_text {
    height: 90%;
    background-color: #251d1d;
    flex: 1 0 45vw;
}

.description_text_img{
    background: url(../images/prueba.png) ;
    background-size:contain;
    background-attachment: fixed;
    background-position: 40% 100%;
    height: 60%;
    min-width: 20vh;
    flex: 0 0 40vw ;
    left: -2%;

}

/* -------------------------------- sobre nos -------------------------------- */
.transicion2{
    margin: auto;
    height: 10vh;
    background-color: #30241d;
    color: rgb(46, 44, 43);
}

.sobre_nos{
    min-height: 85vh;
}


.fondo_sobre_nos{
    background: url(../images/fondo\ about.png) no-repeat fixed;
    background-size: cover;
    filter: contrast(0.4) brightness(0.9) sepia(0.3);
}
.sobre_nos_title{
    mix-blend-mode: overlay;
}
.texto_sobre_nos{
    width: 80%;
    height: fit-content;
    min-height: 70vh;
    mix-blend-mode:overlay;
}

.tarjeta_contenedor{
    height: fit-content;
    display: flex;
}

.tarjeta{
    height: 50vh;
    color: white;
    min-width:fit-content;
    background-color: #42403f;
    flex: 1 0 30%;
    overflow: hidden;
    filter: contrast(3) ;
 
}
.side2{
    background-color: #75675d;
    animation: frontback 2s;
}

.dif{
    background-color: rgb(134, 134, 134);
    min-height: 70vh;
    padding: 2% 10%;
}
.dif_texto{
    background-color: #110b08d0;
    color: white;
}
.dif_texto  .texto1 {
    flex: 1 0 20vw;
}
.dif_texto  p {
    flex: 3 0 20vw;
}

.pilares{
    min-height: 50vh;
}
.pilares_fondo{
    background-color: #000000;
    background: url(../images/image\ pill.png) no-repeat fixed;
    background-size: cover;
    filter: brightness(0.4) grayscale(1.2) contrast(0.8);
}

.pil_img{
    bottom: 0;
}
.pil_text{
    color: rgba(255, 255, 255, 0.589);
}


@media (max-width: 2400px) {
    .descripcion{height: 90vh;}
    .description_text{height: 80%;}
    .dif{height: 70vh;}
    .dif_texto{height: 80%;}
    .texto_sobre_nos{height: 30vh;}
    .pilares{height: 75vh;}
    .pil_img{width: 50%;}
}
@media (max-width: 1000px) {
    .inicio{height: 80vh;}
    .transicion{background-color: #000000d7;}
    .description_text_img{
        flex-basis: 35%;
        height: 50%;
    }
    .pilares{height: 40vh;}
    .pil_img{width: 55%;}
    .tarjeta_contenedor{max-width: 60vw;}
    .tarjeta{
        height: 30vh;
        flex-basis: 35%;
    }
}
@media (max-width: 500px) {
    .inicio{
        height: 100vh;
        overflow:hidden;
    }
    .carousel{
        height: 70%;
        background:rgba(0, 0, 0, 0.482) url(../images/slide/back2.png) no-repeat;
        background-size: cover;
        background-blend-mode: color-dodge;
        background-position: 100% 0%;
    }
    .contenedor_inicio{
        background-color: #151515;
        width: 100vw;
        height: 30%;
    }
    .transicion{
        visibility: hidden;
        position: absolute;
    }
    .description_text{flex-basis: 90vw; margin-left: 0;}
    .dif_texto{flex-basis: 90vw; min-width: 90vw;}
    .texto_sobre_nos{flex-basis: 90vw;}
    .pilares{height: 75vh;}
    .pil_img{width: 50%;}
}