*{
    margin: 0;
    padding: 0
}

body{
    background: linear-gradient(180deg, #100F0F 28.63%, #24293A 50%, #6B1A5A 70.83%, #3C2347 86.98%);
}
.game_fondo{
    background: url(images/motivo\ gm.png) no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.1);

}
.texto{
    width: fit-content;
    left: 3%;
}
.icono{
    background: url(images/icono\ logo.png) no-repeat ;
    background-size: contain;
    background-origin: content-box;
    background-position: 0px;
}

.game_text{
    width: 55%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(90deg, #B003CA 4.57%, #75228E 45.64%, #4316A1 86.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game_section{
    height: 500vh;
}

/* -------------- transicion ----------------------------*/

.transition{
    height: 40vh;
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
    animation: change 3s infinite ease-in-out;
}
.transition_text{
    height: 90%;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.904);
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(90deg, #B003CA 4.57%, #75228E 45.64%, #4316A1 86.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game_choise{
    height: 110vh;
}
.mosaico_img{
    width: 24%;
}
.game_c_conatiner{
    background-color: rgb(0, 0, 0);
}
.color{
    height: 2em;
    flex:1 1 2em;
}

.mosaico::after , .game_c_conatiner::after{
    content: "";
    width: 102%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    display: block;
    background-color: white;
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
    animation: change 3s infinite ease-in-out;
    z-index: -1;
}
.game_c_conatiner::after{
    width: 104%;
    left: -2%;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}