
:root{
    --gris:  #59564F;
    --cafeoscuro: #5c5244  ;
    --degradado: linear-gradient(90deg, #BA2CDD 3.46%, #FF1F00 102.52%);
}

*{
    margin: 0;
    padding: 0;
}
.blur_active{ 
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.pop_up{
    width: 50vw;
    height: 60vh;
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
    color: white;
    left: 25%;
    filter: drop-shadow(10px 10px 6px #484747d2);
    animation: trasladar 2s , change 6s infinite ;
    opacity: 0.98;

}
.pop_up_text{
    width: 97%;
    height: 95%;
    background: rgb(19, 18, 18);
}

.pop_up .gamer , .pop_up .link:hover{
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: change 6s infinite;
}

.btnclose{
    cursor: pointer;
}

.inicio{
    height: 100vh;
}
.logo{
    object-fit: cover;
}
.contenedor_inicio{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.664);
}

.motivo_inicio img{
    mix-blend-mode:hard-light;
    opacity: 0%;
}

.btn_inicio{
    height: 10%;
    background: var(--degradado);
    box-shadow: 5px 5px 10px rgb(87, 86, 86) ;
    border: solid 0.2em white ;
    border-radius: 1em;
    color: white;
}

.btn_inicio p{
    font-size: 80px;
}

.btn_inicio:hover{
    filter: brightness(1.1) drop-shadow(0 0 1rem rgb(197, 117, 117));
}


/* -------------------------------- parrafo  -------------------------------- */

.transicion{
    height: 20vh;
    background-color: rgb(94, 80, 72) ;
    color: white;
}

/* -------------------------------- que es -------------------------------- */
.descripcion{
    height: 98vh;
    background-color: rgb(187, 184, 181);
    color: rgb(255, 255, 255);
}
.franja{
    width: 25%;
    background-color: #3a3427
}

.descripcion_fondo{
    width: 70%;
    background: #837561 url(images/motivo3.png) no-repeat  ;
    background-size: cover;
    background-blend-mode: luminosity;
    filter: brightness(0.8);
    box-shadow: 10px 10px  10px  rgba(65, 64, 64, 0.336);
}
.description_text {
    background-color: #251d1d;
    min-width: 50%;
    flex: 0 0 50vw;
}

.description_text_img{
    background: url(images/prueba.png) ;
    background-size:contain;
    background-attachment: fixed;
    background-position: 40% 100%;
    height: 60%;
    min-width: 20vh;
    flex: 0 0 25vw ;
    left: -5%;

}

/* -------------------------------- sobre nos -------------------------------- */
.transicion2{
    margin: auto;
    height: 10vh;
    background-color: #30241d;
    color: rgb(46, 44, 43);
}

.sobre_nos{
    min-height: 80vh;
}


.fondo_sobre_nos{
    background: url(images/fondo\ about.png) no-repeat fixed;
    background-size: cover;
    filter: contrast(0.4) brightness(0.9) sepia(0.3);
}
.sobre_nos_title{
    mix-blend-mode: overlay;
}
.texto_sobre_nos{
    min-height: 90vh;
    width: 80%;
    height: fit-content;
    mix-blend-mode:overlay;
}

.tarjeta_contenedor{
    min-height: fit-content;
    display: flex;
}

.tarjeta{
    height: 55vh;
    color: white;
    min-width:fit-content;
    background-color: #42403f;
    flex: 1 0 30%;
    overflow: hidden;
    filter: contrast(3) ;
 
}
.side2{
    background-color: #75675d;
    animation: frontback 2s;
}

.dif{
    background-color: rgb(134, 134, 134);
    min-height: 80vh;
    height: fit-content;
    padding: 2% 10%;
}
.dif_texto{
    background-color: #110b08d0;
    color: white;
}
.dif_texto  .texto1 {
    flex: 1 0 20vw;
}
.dif_texto  h5 {
    flex: 3 0 20vw;
}

.pilares{
    height: 98vh;
}
.pilares_fondo{
    background-color: #000000;
    background: url(images/image\ pill.png) no-repeat fixed;
    background-size: cover;
    filter: brightness(0.4) grayscale(1.2) contrast(0.8);
}

.pil_img{
    bottom: 0;
}
.pil_text{
    color: rgba(255, 255, 255, 0.589);
}

    
footer{
    height: 20vh;
    background-color: #252524;
}
