
:root{
    --gris:  #59564F;
    --cafeoscuro: #5c5244  ;
    --degradado: linear-gradient(90deg, #BA2CDD 3.46%, #FF1F00 102.52%);
}

*{
    margin: 0;
    padding: 0;
}
.inicio{
    height: 100vh;
}
.logo{
    object-fit: cover;
}
.contenedor_inicio{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.664);
}

.motivo_inicio img{
    mix-blend-mode:hard-light;
    opacity: 0%;
}

.btn_inicio{
    height: 10%;
    background: var(--degradado);
    box-shadow: 5px 5px 10px rgb(87, 86, 86) ;
    border: solid 0.2em white ;
    border-radius: 1em;
    color: white;
}

.btn_inicio p{
    font-size: 80px;
}

/* -------------------------------- parrafo  -------------------------------- */

.transicion{
    height: 15svh;
    background-color: rgb(26, 21, 16) ;
    color: white;
}

/* -------------------------------- que es -------------------------------- */
.descripcion{
    height: 98vh;
    color: white;
}

.descripcion_fondo{
    width: 70%;
    background: #837561 url(images/motivo3.png) no-repeat  ;
    background-size: cover;
    background-blend-mode: luminosity;
    filter: brightness(0.8);
    box-shadow: 20px 10px  10px  rgba(0, 0, 0, 0.452);
}

/* -------------------------------- sobre nos -------------------------------- */
.transicion2{
    height: 10vh;
    background-color: #30241d;
    color: rgb(46, 44, 43);
}

.sobre_nos{
    min-height: 80vh;
}

.fondo_sobre_nos{
    background: url(images/fondo\ about.png) no-repeat fixed;
    background-size: cover;
    filter: contrast(0.4) brightness(0.9) sepia(0.3);
}

.texto_sobre_nos{
    min-height: 90vh;
    width: 80%;
    height: fit-content;
    mix-blend-mode:overlay;
}

.tarjeta_contenedor{
    min-height: fit-content;
    display: flex;
}

.tarjeta{
    height: 50vh;
    color: white;
    min-width:fit-content;
    background-color: #42403f;
    flex: 1 0 30%;
    overflow: hidden;
    filter: contrast(3) brightness();
 
}

.dif{
    min-height: 75vh;
    height: fit-content;
    padding: 2% 10%;
}
.dif_texto  .texto1 {
    flex: 1 0 20vw;
}
.dif_texto  h5 {
    flex: 3 0 20vw;
}

.footer{
    height: 20vh;
    background-color: #966f48;
}

.pop_up{
    width: 50vw;
    height: 60vh;
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
    color: white;
    left: 25%;
    filter: drop-shadow(10px 10px 6px #484747d2);
    animation: trasladar 2s , change 6s infinite ;
    opacity: 0.98;

}
.pop_up_text{
    width: 97%;
    height: 95%;
    background: rgb(19, 18, 18);
}

.pop_up .gamer{
    background: linear-gradient(90deg, #ca033f 12.48%, #962db6 47.55%, #1e15a0 83.54%);
    background-size: 300% 500%;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: change 6s infinite;
}

.btnclose{
    cursor: pointer;
}

.pilares{
    height: 90vh;
}
.pilares_fondo{
    background-color: #1e15a0;
    background: url(images/image\ pil.png) no-repeat fixed;
    background-size: cover;
}
@keyframes trasladar {
    0% {
      transform: scale(0.8);
      opacity: 0.4;
    }
    100% {
      opacity: 0.98;
    }
  }

  @keyframes voltear{
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(180);
    }
  }

  @keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}